.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__main {
  flex: 1;
  background-color: #f1f5f9;
}

.layout__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}
